<div class="row">
  <div class="col-sm-4">
    <%= image_tag @restaurant.image_url %>

    <p>
      <strong>Name:</strong>
      <%= @restaurant.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @restaurant.website %>
    </p>

    Average Rating: <span class="star-rating" data-score=<%= @avg_restaurant_reviews %> >
    </span>
    <p><%= @restaurant_reviews.length %> Review(s)</p>

    <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
    <%= link_to 'Back', restaurants_path, class: "btn btn-link" %> |
    <%= link_to "Leave Review", new_restaurant_review_path(@restaurant), class: "btn btn-link" %>
  </div>
  <div class="col-sm-8">
    <% if @restaurant_reviews.blank? %>
      <p>There are currently no review for this restaurant</p>
    <% else %>
      <% @restaurant_reviews.each do |restaurant_review| %>
        <div class="star-rating" data-score=<%= restaurant_review.rating %> >
          <!-- <p><%= restaurant_review.rating %></p> -->
        </div>
        <p><small><%= "#{restaurant_review.user.first_name.capitalize} #{restaurant_review.user.last_name.capitalize[0]}." %></small> | Reviewed: <%= "#{time_ago_in_words(restaurant_review.created_at)} ago" %></p>
        <p><%= h(restaurant_review.comment).gsub(/\n/, "<br/>").html_safe %></p>
      <% end %>
    <% end %>
  </div>
</div>
